.b-slider {
    --tst: bottom 0.5s ease 0s;
    --dark: #E6E6E6EE;
}

.slider-standard.swiper {
    width: 100%;
}

.slider-standard .swiper-slide {
    background-position: center;
    background-size: cover;
    height: 504px;
    overflow: hidden;
    width: 100%;

    @media (min-width: 640px)  { width: 70%; }
    @media (min-width: 1024px) { width: 55%; }
    @media (min-width: 1280px) { width: 46%; }
    @media (min-width: 1536px) { width: 50%; }
}

.slider-standard .swiper-pagination-bullet {
    background: var(--color-secondary-600);
    transition: all 0.5s ease 0s;
    border-radius: 8px;
}

.slider-standard .swiper-pagination-bullet-active {
    background: var(--color-secondary);
    width: 30px;
}

.slider-standard .info {
    position: absolute;
    width: calc(100% + 2px);
   /*  height: calc(50% + 2px); */
    text-align: center;
    background: linear-gradient(180deg, rgba(15, 32, 26, 0) 0, rgba(15, 32, 26, 0.8) 80px), linear-gradient(180deg, rgba(15, 32, 26, 0) , rgba(15, 32, 26, 1));
    padding: 24px 24px 40px 24px;
    padding-top: 0px;
    left: 0;
    bottom: calc(-100% - 3px);
    box-sizing: border-box;
    transition: var(--tst);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.slider-standard .swiper-slide:hover .info,
.slider-standard .swiper-slide:focus-within .info {
    bottom: 0;
    transition: var(--tst);
}

.slider-standard .info .icon {
    margin-bottom: 1rem;
}

.slider-standard .info .icon img {
    max-width: 50px;
    height: auto;
}

.slider-standard .info .header {
    font-weight: bold;
}